:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --background-color: #2f303a;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --card-set-gap: 30px;
  --o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  min-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: var(--primary-text-color);
  font-family: var(--main-font);
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: #fff 160, 18, 18;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #fff;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
}

.header__logo {
  margin-right: 95px;
}

.title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-main {
  margin-top: 20px;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: var(--o-transition);
}
.address:hover, .address:focus {
  color: var(--accent-color);
}

.mail {
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--o-transition);
}
.mail:hover, .mail:focus {
  color: var(--accent-color);
}

.phone {
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--o-transition);
}
.phone:hover, .phone:focus {
  color: var(--accent-color);
}

.list-address .address-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-footer {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}

.first-block {
  margin-right: 70px;
}

.footer-item {
  margin-right: 10px;
}

.footer-picture {
  width: 20px;
  height: 20px;
}

.link-footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.form-footer {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.form-input {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #fff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.footer-btn {
  display: inline-flex;
  border: none;
  padding: 10px 28px;
  background-color: var(--accent-color);
  color: white;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: var(--main-font);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  margin-left: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background: #188ce8;
}

.footer-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus,
.close-btn:hover {
  fill: var(--accent-color);
}

.icon-close {
  width: 18px;
  height: 18px;
  margin: 5px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-field:nth-child(5) {
  margin-bottom: 0;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-input:hover {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-form-input:focus + .modal-form-icon,
.modal-form-input:hover + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-messege {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::-moz-placeholder {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea:-ms-input-placeholder {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::placeholder {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-messege:focus,
.modal-form-messege:hover {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-btn {
  align-self: center;
  border: none;
  background: #2196f3;
  border-radius: 4px;
  padding: 10px 55px;
  color: #ffffff;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:focus,
.modal-form-btn:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.chekbox-label {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.icon {
  display: inline-block;
  border: 1px solid var(--background-color);
  border-radius: 2px;
  margin-right: 7px;
  width: 16px;
  height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  border-color: var(--accent-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}

.checkbox:focus + .icon {
  border-color: var(--accent-color);
}

.label {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-label-link {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.head {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.head__container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
}

.contact .contact__list:not(:last-child) {
  margin-right: 50px;
}

.colortext {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.menu {
  display: flex;
  align-items: center;
}

.menu .menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: var(--o-transition);
}

.menu__link--current {
  color: var(--accent-color);
  transition: var(--o-transition);
}

.menu__link--current::after {
  content: "";
  position: absolute;
  opacity: 1;
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact__mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  transition: var(--o-transition), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.contact__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  transition: var(--o-transition);
}

.contact-links:hover,
.contact-links:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.hero {
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/people.jpg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  font-family: var(--main-font);
}

.modal__btn {
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--accent-color);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover,
.modal__btn:focus {
  background: #188ce8;
}

.advantages {
  padding-top: 94px;
}

.list-advantages {
  display: inline-flex;
  flex-wrap: wrap;
}

.item {
  width: calc((100% - 90px) / 4);
  margin-right: var(--card-set-gap);
}

.item:nth-child(4n) {
  margin-right: 0;
}

.item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  block-size: 65px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.antenna::before {
  background-image: url(../images/advantages/antenna.svg);
}

.clock::before {
  background-image: url(../images/advantages/clock.svg);
}

.diagram::before {
  background-image: url(../images/advantages/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/advantages/astronaut.svg);
}

.advantages-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}

.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.overlay-list {
  position: relative;
}

.affairs-overlay {
  position: absolute;
  padding: 27px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  overflow: auto;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.affairs {
  display: flex;
  justify-content: space-between;
}

.team {
  background: #f5f4fa;
}

.card-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team-list {
  display: flex;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.team-list > .card-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-content {
  padding: 30px 32px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.profession {
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 19;
  margin-bottom: 16px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.photo {
  border-radius: 0px;
}

.title-customers {
  display: flex;
  justify-content: space-between;
}

.customer {
  -o-object-fit: cover;
     object-fit: cover;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.filter {
  align-items: center;
  margin-right: 8px;
}

.filter:nth-child(5n) {
  margin-right: 0;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.card {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team-list-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .overlay,
.card-link:focus .overlay {
  transform: translateY(0%);
}

.text {
  padding: 20px 24px;
  border: 1px solid #eeee;
  border-top: none;
}

.card-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.card-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}

.card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:focus,
.card-link:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */