.advantages {
  padding-top: 94px;
}

.list-advantages {
  display: inline-flex;
  flex-wrap: wrap;
}
.item {
  width: calc((100% - 90px) / 4);
  margin-right: var(--card-set-gap);
  
  &:nth-child(4n) {
  margin-right: 0;
}

  &::before {
   display: block;
   content: '';
   height: 120px;
   background-color: #f5f4fa;
   block-size: 65px 70px;
   background-repeat: no-repeat;
   background-position: center;
}
}




.antenna::before {
  background-image: url(../images/advantages/antenna.svg);
}

.clock::before {
  background-image: url(../images/advantages/clock.svg);
}

.diagram::before {
  background-image: url(../images/advantages/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/advantages/astronaut.svg);
}

.advantages-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}

.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}