.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-main {
  margin-top: 20px;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: var(--o-transition);

  
   &:hover,&:focus {
  color: var(--accent-color);
}
}



.mail {
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--o-transition);
  
 &:hover,&:focus {
  color: var(--accent-color);
}
}



.phone {
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: var(--o-transition);
  
   &:hover,&:focus {
  color: var(--accent-color);
}
}

.list-address .address-list:not(:last-child) {
  margin-bottom: 9px;
}
