.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, 
  &:focus {
  background-color: var(--accent-color);
}

}

.text-footer {
 font-family: var(--main-font);
 font-size: 14px;
 line-height: 1, 14;
 letter-spacing: 0.03em;
 text-transform: uppercase;

 color: #ffffff;
}


.footer-container {
 display: flex;
 align-items: baseline;
 justify-content: space-between;


.first-block {
  margin-right: 70px;
}

.footer-item {
  margin-right: 10px;
}

.footer-picture {
  width: 20px;
  height: 20px;
}


.link-footer {
 display: flex;
 align-items: center;
 margin-top: 20px;
}
